<p id="notice"><%= flash[:notice] %></p>

<p>
  <strong>BookName:</strong>
  <%= @book.name %>
</p>

<p>
  <strong>Spell title:</strong>
  <%= @book.spells_name %>
</p>





<p>
<%= link_to 'Edit Book', edit_book_path(@book) %> |
<%= link_to 'Show Books', books_path %> |
<%= link_to "Home", root_path %>    
</p>